body {
    background-color: #d3d3d3;
    margin-left: 300px;
    margin-right: 300px;
}

h3 {
	font-family: "Courier New", Courier, monospace;
	text-align: center;
}

p {
	font-family: "Courier New", Courier, monospace;
	text-align: left;
	font-size: 12px;
}

h5 {
	font-family: "Courier New", Courier, monospace;
	text-align: center;
}

img {
	border-radius: 50px;
	margin-right: 40px;
	margin-bottom: 20px;
}
